<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kinect_v2">

  <xacro:macro name="kinect_v2" params="package parent *origin">
    <xacro:property name="prefix" value="kinect_v2" />

    <link name="${prefix}_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://${package}/urdf/mesh/kinect_v2.stl"/>
        </geometry>
        <material name="">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>
    </link>
    <joint name="${prefix}_link_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${prefix}_link"/>
    </joint>

    <link name="kinect2_link"/>
    <joint name="${prefix}_joint" type="fixed">
      <origin xyz="0 0 0.045" rpy="1.5707 3.14159 1.5707"/>
      <parent link="${prefix}_link"/>
      <child link="kinect2_link"/>
    </joint>

  </xacro:macro>
</robot>
