<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="zed">

  <xacro:macro name="zed" params="package parent *origin">
    <xacro:property name="prefix" value="zed"/>

    <link name="${prefix}_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://${package}/urdf/mesh/ZED.stl"/>
        </geometry>
        <material name="">
          <color rgba="1.0 1.0 0.9 1"/>
        </material>
      </visual>
    </link>
    <joint name="${prefix}_link_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${prefix}_link"/>
    </joint>

  </xacro:macro>

</robot>