<?xml version="1.0"?>
<launch>

  <!-- Robot Description -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find iqr_4b_description)/urdf/iqr_4b_robot.urdf.xacro" />
  <!--node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <!-- JACKAL -->
  <include file="$(find iqr_4b_bringup)/launch/include/jackal.launch.xml">
  </include>

  <!-- KINOVA J2N6S300 -->
  <include file="$(find iqr_4b_bringup)/launch/include/kinova.launch.xml">
    <arg name="use_urdf" default="false"/>
    <arg name="kinova_robotType" default="j2n6s300" />
  </include>

  <!-- VLP16 -->
  <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch">
    <arg name="device_ip" default="192.168.1.7" />
    <arg name="frame_id" default="velodyne"/>
    <arg name="max_range" default="100.0" />
    <arg name="rpm" default="600" />
  </include>

  <!-- Kinect 2.0 -->
  <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch">
    <arg name="publish_tf" default="true"/>
  </include>

  <!-- IQR PAN_TILT -->
  <node name="iqr" pkg="pan_tilt_driver" type="PanTiltDriverNode" output="screen">
    <param name="port_name" value="/dev/pan_tilt"/>
    <param name="yaw_joint_name" value="pan_tilt_yaw_joint"/>
    <param name="pitch_joint_name" value="pan_tilt_pitch_joint"/>
  </node>

</launch>
